<div class="about-box">
    <div class="row">
        <div class="col-lg-4">
            <div class="about-img-box">
                <img src="..images/hassan.jpeg" class="about-img">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="about-name">Hassan Javed</div>
            <div class="about-me">
                Senior Programmers Spend Minutes Googling, Junior Programmers Spend Hours. 
                No matter how gifted you are, everyone starting their programming journey
                 will spend a lot of time searching for information to help them pass a 
                 roadblock in the development process. Googling is a skill not often taught in school or bootcamps
            </div>
            <div class="about-btn">
                <a
                class="btn btn-primary hero-about-btn"
                href="/projects"
                role="button">
            </a>
            <a 
            class="btn btn-success hero-about-btn"
            href=""
            </div>
        </div>
    </div>
</div>