<html>
<head>
<body>
 
<main>

    
            <div class="float-container">

                <div class="float-child">
<form method="post" action="mailto:hjaved12@hotmail.com">
<p>
<label><span style="color:rgb(17, 17, 20);font-weight:bold">First Name</span><!--spam -->
<input type="text" name="txtName" size="25"> <!--input tag to take input from user-->
</label></p>
<p>
 <label><span style="color:rgb(17, 17, 20);font-weight:bold">Last Name</span><!--spam -->
<input type="text" name="txtName" size="25"> <!--input tag to take input from user-->
</label></p>
<p>
<label><span style="color:rgb(17, 17, 20);font-weight:bold">Contact Number</span><!--spam -->
<input type="tel" placeholder="(###) ###-####" pattern="\(\d{3}\)\d{3}-\d{4}" required=""> 
</label></p>   
</label>
<label><span style="color:rgb(17, 17, 20);font-weight:bold">Email</span><!--spam -->
 <input type="email" placeholder="name@domain.com" required=""> <!--input tag to take input from user-->
</label></p>

        



<p><label>
<span style="color: rgb(17, 17, 20); font-weight:bold;">Addition Requirements</span><br>
<textarea name="txtinformation" rows="5" cols="40"></textarea>
</label></p>
<input type="submit" value="Submit Form">&nbsp;&nbsp;&nbsp;<!--input tag and bytton-->
<input type="reset" value="Clear Form">


</form>
</div>
<div class="float-green">
    <img src="../images/hassan.jpeg">
    <br>(416) 525-9082
    <br> Email:<a href="mailto:hassan@gmail.com">hassanghumman416@gmail.com</a>

</div>
    </div>
    
    
</main>


            
</body>
</head>
</html>