<div class="project-box">
<div class="row">
<div class="col-1g-3">

<div class="card" style-"width: 18rem">
    
<img class="card-img-top" src="./images/worldend.ipeg" alt="Card image cap" />
<div class="card-body">

<h5 class="card-title"> Stardust At the Worlds End</h5> 
<p class="card-text">
    It is a third person shooting game made on a 3D platform with
    various different functionalities for better user experience and gameplay.
</p>


<h6 Software Used</h6>
     <p> Unreal Engine</p> 
     <h6>Coding Language Used </h6>
      <p>Blueprint Scriptings </p>
       <a href="https://www.youtube.com/watch?v=TlB_eWDSMt4" class="btn btn-danger">Demo</a>

</div>
</div>
</div>
<div class="col-1g-3">
<div class-"card" style-"width: 18rem ">
<div class="card-img-top" src="./images/racer.jpeg" alt="Card image cap"/>

<div class="card-body">
    <h5 class="card-title"> StarDust Racers </h5>
     <p class="card-text">
    It is a car racing game which is a vehicle simulation based game, made on a 3D platform with various different functionalities.
    <h6>Software Used</h6>
     <p>Unity 3D Autodesk Maya.</p>
      <h6>Coding Language Used</h6> 
      <p>C#</p>
     </p>
     <a href="https://www.youtube.com/watch?v=kV6MJ9W4whM" class="btn btn-danger">Demo</a>
</div>
</div>
</div>


<div class="col-lg-lg-3">
<div class="card" style="width:18rem">
<img class="card-img-top" src="./images/ludo.jpeg" alt="Card image cap"/>
<div class="card-body">
    <h5 class="card-title">Stardust ludo</h5>
  <p class="card-text">
    it is 2D perspective game
  </p>
  <h6>Software  Used</h6>
  <p>1.Unity 3D
    2.Adobe Photoshop
  </p>
  <h6>Coding language used</h6>
  <p>1.C#</p>
  <a href="https://www.youtube.com/watch?v=GhQdlIFylQ8" class="btn btn-danger">Demo</a>
</div>
</div>
</div>


<div class="col-1g-3">
<div class="card" style="width: 18rem">
<ing class="card-img-top" src="_/images/vrprojects.ipeg" alt="Card image cap"/>
<div class="card-body">
<h5 class="card-title">Virtual Realitys</h5>
 <p class="card-text">  
I had made few virtual reality projects and some of them are <ul>
<li>VR Simulation For DC Motor To Generator Interconversion.</li>
 <li> VR Walkthrough For IC Fabrication Lab.</li> <li> VR Simulation For Engine Assembly.</li>
<li>VR Farming Simulation.</li>
</ul>
</p>
<h6>Software Projects</h6>
<p>Unreal engine, Autodesk maya, substance painter</p>
<h6>Coding language used</h6>
<p>Blueprint Script</p>
<a href="https://www.youtube.com/watch?v=qBoIalDH0Pk" class="btn btn-danger">Demo</a>
</div>
</div>
</div>
</div>
</div>



