<div class "hero-box">
    <div class="hero-welcome">Welcome</div>
    <div class="hero-title">My name is Hassan</div>
    <div class="hero-mission">
        I like to explore everything   and ready  to learn opportunity that
        i come across. My fuel is the dream that boosts me to achieve my goals.
    </div>
    <a class="btn btn-primary hero-about-btn "href="/about" role="button">About Me</a>
</div>